
<form action="/answer">
  <label for="question">Ask a anything to the coach:</label>
  <br>
  <div class="input-area">
    <input type="text" name="question" class="form-input">
    <input type="submit" value="Ask!" class="btn">
  </div>
</form>
